<h1>Events feed</h1>
<%= link_to "Modules feed", module_feed_path %>

<% @events.each do |event| %>
  <h1>
    <strong>
      <%= @event.name %>
    </strong>
  </h1>

  <p>
    <%= @event.date %>
  </p>

  <p>
    <%= @event.description %>
  </p>
<% end %>
