<p id="notice"><%= notice %></p>

<p>
  <strong>Unit module:</strong>
  <%= @enrollment.unit_module_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @enrollment.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @enrollment.status_id %>
</p>

